<div class="table-responsive">
  <h3 class="m-0 p-2 bg-secondary text-center fw-bold">Employee List</h3>
  <table class="table table-hover">
    <thead>
      <tr class="table-active">
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Start Date</th>
        <th scope="col" class="d-none d-sm-block">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light text-dark" *ngFor="let item of [0,1,2,3,4,5,6]">
        <th scope="row">Manuel</th>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td class="btn-group d-none d-sm-block" role="group">
          <button type="button" class="btn btn-warning btn-sm  m-1" (click)="onClickEdit(item)">Edit</button>
          <button type="button" class="btn btn-info btn-sm m-1" (click)="onClickSee(item)">See</button>
          <button type="button" class="btn btn-danger btn-sm m-1" (click)="onClickDelete(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
