<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>

<div class="alert alert-dismissible alert-success" *ngIf="employeeSaved">
   <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <button type="button" class="btn-close btn-dark" data-bs-dismiss="alert" (click)="onClickClose()"></button>
  <strong>Employee saved</strong>.
</div>

<div class="table-responsive">
  <h3 class="m-0 p-2 bg-secondary text-center fw-bold">Employee List</h3>
  <table class="table table-hover">
    <thead>
      <tr class="table-active">
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Start Date</th>
        <th scope="col" class="d-none d-sm-block">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light text-dark" *ngFor="let item of mock">
        <th scope="row">{{item.name}} {{item.lastName}}</th>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.startDate.day}}/{{item.startDate.month}}/{{item.startDate.year}}</td>
        <td class="btn-group d-none d-sm-block" role="group">
          <button type="button" class="btn btn-warning btn-sm  m-1" (click)="onClickEdit(item)">Edit</button>
          <button type="button" class="btn btn-info btn-sm m-1" (click)="onClickSee(item)">See</button>
          <button type="button" class="btn btn-danger btn-sm m-1" (click)="onClickDelete(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
